@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

a{
    color: white;
    padding: 20px;
    text-decoration: none;
}

.auto{
    margin: auto;
}

.login-btn{
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

.text-container{
    width: 60%;
    text-align: center;
    color: white;
    padding: 40px;
    padding-bottom: 150px;
}

h1{
    font-size: 50px;
    padding: 40px;
}

h3{
    font-size: 20px;
    padding: 30px;
}

.btn-download{
    width: 185px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-right: 20px;
}

.btn-open{
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: #23272A;
    color: white;
}

.section1{
    padding-bottom: 100px;
    padding-top: 100px;
}


.section2{
    background-color: lightgray;
    padding-bottom: 100px;
    padding-top: 100px;
}


.container-section1{
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.img-div{
    flex-basis: 60%;
    
    
}

.text-div{
   flex-basis: 40%;
}

.img-div > img{
    width: 100%;
}

.h2-section{
    font-size: 40px;
    padding-top: 30px;
}

.p-section{
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
.section4{
    background-color: lightgray;
}

.container-section4{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-div2{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.img-divbig{
    width: 100%;
    text-align: center;
}

.text-div3{
    text-align: center;
}

.purple{
    background-color: #8EA1E1;
    margin-bottom: 150px;
}


footer{
    background-color: #23272A;
}

.footer-container{
    width: 80%;
    margin: auto;
}

.footer-menu{
    width: 68%;
}

.footer-social img{
    width: 18px;
    height: 12px;

}

.footer-social > h2{
    color: #7289DA;
}

#language{
    color: white;
    padding-top: 20px;
}
#language::after{
    content: '\25BE';
}
ul{
    display: flex;
}

ul li{
    color: #687cc3;
}

.ul-ann li{
    color: white;
    list-style: none;
    
}

.footer-flex2{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box-item{
    padding-top: 50px;

}

.register-btn{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #687cc3 ;
    color: white;
}

.f-space-between{
    justify-content: space-between;
}

.place-talk > h4{
    color: #7086d9;
    font-size: 40px;
}

.lang-cont{
    margin-top: 30px;
    margin-bottom: 30px;
}

.lang-cont > img{
    width: 8%;
    vertical-align: middle;
}

.flex{
    display: flex;
}

.lang-ita{
    vertical-align: middle;
    color: white;
}

.social-icons{
    color: white;
}

.footer-lists{
    flex-basis: 40%;
}

.place-talk{
    flex-basis: 60%;
}

.footer-li, .footer-ul{
    color: white;
}

.footer-li{
    list-style: none;
    padding-top: 20px;
}
.blue{
    color: #7086d9;
    font-size: 20px;
    font-weight: bold;
}

.fa-chevron-down{
    color: white;
}

.breakline{
    height: 2px;
    background-color: #7086d9;
    margin-top: 40px;
}